body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Customization for horizontal list group support */
.list-group-horizontal .list-group-item {
    display: inline-block;
    border: 0px;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.totalTime {
	color: #fff;
	background-color: #aaa;
	padding: 4px;
	border-radius: 4px;
}

.tag {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 4px;
	background-color: #aaa;
}

.taskline:hover {
	background-color: #fafafa;
}

.sessionline:hover {
	background-color: #fafafa;
}

.ibutton {
	cursor: pointer;
}

.ired:hover {
	color: #b00;
}

.igreen:hover {
	color: #0b0;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
