<div ng-hide="isLoggedIn()">
  <h3>Please <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to access the tasks.</h3>
</div>

<div ng-show="isLoggedIn()">
  <div class="page-header">
    <h1>Activity</h1>
  </div>

  <div ng-repeat="day in days">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{day.caption}}</h3>
      </div>
      <ul class="list-group">
        <li ng-repeat="session in day.sessions" class="list-group-item sessionline" ng-mouseenter="currentSession=$index" ng-mouseleave="currentSession=-1">
          {{session}}
        </li>
      </ul>
   
    </div>
  </div>

</div>
