<div ng-hide="isLoggedIn()">
  <h3>Please <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to access the tasks.</h3>
</div>

<div ng-show="isLoggedIn()">
  <div class="page-header">
    <h1>Activity</h1>
  </div>

  <div ng-repeat="day in days">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i ng-class="{ 'ibutton fa fa-toggle-on': day.groupByTask, 'ibutton fa fa-toggle-off': !day.groupByTask }" ng-click="day.groupByTask = !day.groupByTask" data-toggle="tooltip" data-placement="bottom" title="Toggle group by task {{day.groupByTask ? 'off' : 'on'}}"></i> {{day.caption}}</h3>
      </div>
      <ul class="list-group" ng-hide="day.groupByTask">
        <li ng-repeat="session in day.sessions" class="list-group-item sessionline" ng-mouseenter="currentSession=$index" ng-mouseleave="currentSession=-1">
          {{session._id}}
        </li>
      </ul>
      <ul class="list-group" ng-show="day.groupByTask">
        <li ng-repeat="tdesc in day.tasks" class="list-group-item taskline" ng-mouseenter="currentTask=$index" ng-mouseleave="currentTask=-1">
          <div nv-task-line op-task="tdesc.task"></div>
          <!-- {{tdesc.task.title}} -->
        </li>
      </ul>
   
    </div>
  </div>

</div>
