<div class="col-md-10 col-md-offset-1" ng-controller="TasksCtrl">
  <div ng-hide="isLoggedIn()">
    <h3>Please <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to access the tasks.</h3>
  </div>

  <div ng-show="isLoggedIn()">
    <form ng-submit="addTask()">
      <h3>Add a new task</h3>

      <div class="input-group" style="margin-top:30px;">
        <span class="input-group-addon" id="title-addon">Title</span>
        <input type="text"
          class="form-control"
          placeholder="Title"
          aria-describedby="title-addon"
          ng-model="title"></input>
      </div>

      <div class="input-group" style="margin-top:30px;">
        <span class="input-group-addon" id="desc-addon">Desc</span>
        <input type="text"
        class="form-control"
        placeholder="Description"
        aria-describedby="desc-addon"
        ng-model="description"></input>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-top:30px;">Add</button>
    </form>
  </div>
</div>
