<div ng-hide="isLoggedIn()">
  <h3>Please <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to access the tags.</h3>
</div>

<div ng-show="isLoggedIn()">
  <div class="page-header">
    <h1>Tags</h1>
  </div>

  <form ng-submit="addTag()">
    <h3>Add a new tag</h3>

    <div class="input-group" style="margin-top:30px;">
      <span class="input-group-addon" id="tagName-addon">Name</span>
      <input type="text"
        class="form-control"
        placeholder="Name"
        aria-describedby="tagName-addon"
        ng-model="tagName"></input>
    </div>

    <div class="input-group" style="margin-top:30px;">
      <span class="input-group-addon" id="tagBgColor-addon">Bg color</span>
      <input type="text"
      class="form-control"
      placeholder="(random)"
      aria-describedby="tagBgColor-addon"
      ng-model="tagBgColor"></input>
    </div>

    <div class="input-group" style="margin-top:30px;">
      <span class="input-group-addon" id="tagFgColor-addon">Fg color</span>
      <input type="text"
      class="form-control"
      placeholder="(random)"
      aria-describedby="tagFgColor-addon"
      ng-model="tagFgColor"></input>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top:30px;">Add</button>
  </form>

  <ul class="list-group">
    <li ng-repeat="tag in tags" class="list-group-item">
      <ul class="list-inline"> <!-- ng-mouseenter="currentTarget=$index" ng-mouseleave="currentTarget=-1" -->
        <li class="vcenter">
          <h4 class="tag" ng-style="{ backgroundColor: '{{tag.bgColor}}', color: '{{tag.fgColor}}' }">{{tag.name}}</h4>
        </li>
        <li class="pull-right vcenter">
          <button class="btn btn-danger .navbar-right" 
            ng-click="deleteTag(tag)"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
        </li>
      </ul>
    </li>
  </ul>



</div>
