<div ng-hide="isLoggedIn()">
  <h3>Please <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to access the tasks.</h3>
</div>

<div ng-show="isLoggedIn()">
  <div class="page-header">
    <h1>Next tasks</h1>
  </div>

  <ul class="list-group">
    <li ng-repeat="task in tasks" class="list-group-item" ng-mouseenter="currentTask=$index" ng-mouseleave="currentTask=-1">
      <ul class="list-inline"> <!--  -->
        <li class="vcenter">
          <h4 class=>{{task.title}}</h4>
        </li>
        <li class="vcenter">
          <span class="totalTime">{{task.totalTime | toHMS }}</span>  <!-- label label-default-->
        </li>

        <li class="pull-right vcenter"> <!--ng-show="currentTarget==$index" -->
          <span ng-show="isRunning(task)">Session: {{ (currentTime - task.startTime)/1000.0 | toHMS }}</span>
          <button ng-show="isRunning(task)" class="btn btn-default .navbar-right"
            ng-click="stopTask(task)"><i class="fa fa-stop fa-lg"></i> Stop</button>
          <button ng-hide="isRunning(task)" class="btn btn-default .navbar-right"
            ng-click="startTask(task)"><i class="fa fa-play fa-lg"></i> Start</button>            
          <button class="btn btn-success .navbar-right"
            ng-click="closeTask(task)">Close</button>
          <button class="btn btn-danger .navbar-right" 
            ng-click="deleteTask(task)"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
        </li>
      </ul>
      <ul class="list-inline">
        <li ng-repeat="tag in task.tags">
          <span class="tag" ng-style="{ backgroundColor: '{{tag.bgColor}}', color: '{{tag.fgColor}}' }">{{tag.name}}</span>
        </li>
        <li>
          <div class="btn btn-success btn-xs" ng-show="currentTask==$index && addTagIndex!=$index" ng-click="addTagIndex = $index">
            <i class="fa fa-plus fa-fw fa-inverse"></i></div>
          <div ng-show="addTagIndex==$index">
            <div class="input-group input-group-sm" style="width:200px;">
              <span class="input-group-addon" id="tag-addon">#</span>
              <input type="text" class="form-control" placeholder="Tag name" aria-describedby="tag-addon"
                ng-model="tagName" ng-enter="addTagIndex=-1; addTag(task,tagName);">
            </div>
          </div>
        </li>
      </ul>    
      <div>{{task.user}}{{task.description=="" ? " - No description" : " - "+task.description}}</div>
    </li>
  </ul>
</div>
